:root {
    --header-color: #373739;
    --app-main-color: #565658;
    --color-shadow: rgba(145, 144, 144, 0.52);

    --shadow-sm: 0 2px 4px var(--color-shadow);
    --shadow-md: 0 4px 8px var(--color-shadow);
    --shadow-lg: 0 8px 16px var(--color-shadow);
    --shadow-accent: 0 4px 12px rgba(237, 211, 86, 0.93);

    --text: white;
    --side-text: rgba(204, 204, 204, 0.8);
    --accent-text: rgba(250, 216, 59, 0.93);

    --indentation: 5%;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}