.card {
    min-width: 24rem;
    max-width: 24rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.title {
    color: var(--text);
    margin-bottom: 10px;
}

.description {
    color: var(--side-text)
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.descriptionModule {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 0;
}