.header {
    background-color: var(--header-color);
    box-shadow: var(--shadow-sm);
    display: block;
    min-height: 20px;
    position: relative;
    z-index: 1;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: var(--indentation);
    margin-right: var(--indentation);
}

.logo h3 {
    padding: 3px;
    color: var(--text);
    letter-spacing: 1px;
}
