.description {
    margin-top: 4px;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    width: 100%;
}

.description label {
    color: var(--text);
}

.description div {
    color: var(--side-text);
    white-space: normal;
    word-break: break-word;
}

.description span {
    cursor: pointer;
    color: var(--accent-text);
    margin-left: 4px;
}